.Tab-connexion{
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: inherit;
}
.Tab-connexion h2{
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.Tab-connexion-form {
  padding: 0px 40px 40px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  width: 260px;
  text-align: center;
  margin-top: 50px;
}

.Tab-connexion-form h3 {
  font-size: 24px;
  padding-top: 20px;
}

.Tab-connexion-form-underline-mail p {
    font-size: 14px;
    margin-bottom: 4px;
    text-align: left;
}

.Tab-connexion-form-underline-mot-passe p {
    font-size: 14px;
    margin-bottom: 4px;
    text-align: left;
}

.input-mail,
.input-mot-passe {
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-register{
    text-align: left;
}

.form-register p{
    font-size: 14px;
    margin-bottom: 4px;
}

.button-connecter{
    background-color: #2e2e2e;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
}

.button-connecter:hover{
    background-color: #4e4e4e;
}