.Tab-inscrire{
    align-items: center;
    background-color: inherit;    
}

.Tab-inscrire h2{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.Tab-inscrire-form {
  padding: 0px 40px 40px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  text-align: center;
  width: 260px;
}

.Tab-inscrire-form h3 {
  font-size: 24px;
  padding-top: 20px;
}

.Tab-inscrire-form p{
    font-size: 14px;
    margin-bottom: 4px;
    text-align: left;
}

.Tab-inscrire-form input{
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.button-continue button{
    background-color: #2e2e2e;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    width: 104%;
    margin-top: 15px;
}

.button-continue button:hover{
    background-color: #4e4e4e;
}

.error-message{
    color: #e74c3c;
    font-size: 10px;
    display: flex;
}

